@model Zadatak.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grades)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>

                @foreach (var item in Model.Grades)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GradeForStudent)
                        </td>
                    </tr>
                }

            </table>
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
